[submodule "git_intro"]
	path = git_intro
	url = git@github.com:sbilibin2017/git_intro.git
[submodule "middle_python_intro"]
	path = middle_python_intro
	url = git@github.com:sbilibin2017/middle_python_intro.git
[submodule "hh_parser_analytics"]
	path = hh_parser_analytics
	url = git@github.com:sbilibin2017/hh_parser_analytics.git
[submodule "new_admin_panel_sprint_1"]
	path = new_admin_panel_sprint_1
	url = git@github.com:sbilibin2017/new_admin_panel_sprint_1.git


[submodule "new_admin_panel_sprint_2"]
	path = new_admin_panel_sprint_2
	url = git@github.com:sbilibin2017/new_admin_panel_sprint_2.git
[submodule "new_admin_panel_sprint_3"]
	path = new_admin_panel_sprint_3
	url = git@github.com:sbilibin2017/new_admin_panel_sprint_3.git
